form {
  padding: 40px;
  margin: 10px;
  display: center;
  border: solid rgb(130, 157, 237);
  border-radius: 10px;
  text-align: center;
}

button:hover {
  color: white;
  background-color: rgb(130, 157, 237);
  border-radius: 10px;
}

input,
select {
  border-radius: 3px;
  outline: none;
}
