.navbar-links-item {
  margin: 0;
  list-style-type: none;
}

.navbar-links-item li {
  display: inline-block;
  font-size: 15px;
  padding-left: 200px;
  padding-top: 8px;
}

.navbar {
  border-bottom: double red;
  padding: 2px;
}

h2 {
  text-align: center;
  padding: 2px 5px 0px 60px;
  margin: 0;
  font-size: 20px;
  color: rgb(130, 157, 237);
}
