img {
  height: 60px;
  padding: 20px 20px 0 10px;
}

h2 {
  padding: 22px 33px 0px 0px;
  font-size: 15px;
}

li {
  display: inline-block;
  padding: 33px 33px 0 0;
  color: black;
  font-size: 15px;
  list-style-type: none;
}
.navbar {
  background-color: rgb(130, 157, 237);
  border-bottom: solid black;
  display: flex;
}
.navbar-links {
  margin: 0;
  padding: 0;
}
