ul.bar {
  margin: 0 0 0 0;
  padding: 0px 0px 0px 4px;
  background-color: rgb(184, 198, 242);
  border-bottom: black solid;
  height: 30px;
}

.bar > a {
  padding: 0px 16px 0px 2px;
  color: black;
}
